<form>
    {{!-- This id needs to be updated.  The same id is used in the satelliteFetch.js file for a different input --}}
    <input type="text" id="satellite_name" name="satellite_name">
    </div>
    <div>
        <label for="latitude">Latitude</label>
    </div>
    <div>
        <input type="number" id="latitude" name="latitude">
    </div>
    <div>
        <label for="longitude">Longitude</label>
    </div>
    <div>
        <input type="number" id="longitude" name="longitude">
        <input type="text" id="satellite_name">
    </div>
    <div>
        <label for="latitudeSearch">Latitude</label>
    </div>
    <div>
        <input type="text" id="latitudeSearch">
    </div>
    <div>
        <label for="longitudeSearch">Longitude</label>
    </div>
    <div>
        <input type="text" id="longitudeSearch">
    </div>
    <div>
        <button id="satSearchBtn">Search Satellites</button>
    </div>

</form>