<h2>About Us</h2>

<div>We are just just 3 guys... who also code</div>

<div class="boxDiv">
    <div class="picture">
        <img src="/assets/profile_icon.jpg" id="picOne" alt="profile image"/>
    </div>
    <div class="descriptionBox">
        
    </div>
</div>