<section id="aboutUsIntroDiv">
        <p id="aboutUsIntro">We are just 3 guys... who also code 😎</p>
    </section>

<section id="aboutUsPage">
    {{!-- <h2>About Us</h2>  --}}


    

    <section class="boxDiv" id="person_one">
        <div class="picture">
            <img src="/assets/burkholder_profile.jpg" id="picOne" alt="cody profile image"/>
        </div>
        <div class="name" id="nameOne">
            <h2>Cody Burkholder</h2>
        </div>
        <div class="description">
            <p>Web Developer</p>
        </div>
    </section>

    <section class="boxDiv" id="person_two">
        <div class="picture">
            <img src="./assets/IMG_1576.JPG" id="picTwo" alt="russell profile image"/>
        </div>
        <div class="name" id="nameTwo">
            {{!-- picadded --}}
            <h2>Russell Montjoy</h2>
        </div>
        <div class="description">
            <p>Web Developer</p>
        </div>
    </section>

    <section class="boxDiv" id="person_three">
        <div class="picture">
            <img src="/assets/brandon_profile.jpg" id="picThree" alt="brandon profile image"/>
        </div>
        <div class="name" id="nameThree">
            <h2>Brandon Wing</h2>
        </div>
        <div class="description">
            <p>Web Developer</p>
        </div>
    </section>

</section>