<section id="homepage">
    
{{#each satellites as |satellite|}}

    <a href = "/api/satellite/{{satellite.id}}"> 
    <section class="homepageDiv">
        <div class="homepageInfo">
            <h2>{{satellite.satellite_name}}</h2>
            <p>Created by: {{satellite.country.country_name}}</p>
        </div>
    </section>
    </a>


{{/each}}

</section>
