<section id="homepage">

{{#each satellites as |satellite|}}

    <section class="homepageDiv">
        <div class="satellite">
            <h2>{{satellite.satellite_name}}</h2>
        </div>
        <div class="country">
            <p>Created by: {{satellite.user.name}}</p>
        </div>
    </section>

{{/each}}

</section>