{{#if loggedIn}}

<form action="#" class="form" id="satSearchForm">
    <h2>Find a Satellite</h2>
    <div>
           <label for="satellite_name">Satellite Name</label>
    </div>
    <div>
            <input type="text" id="satellite_name" name="satellite_name">
    </div>
    <div>
           <label for="latitude">Latitude</label>
    </div>
    <div>
           <input type="number" id="latitude" name="latitude">
    </div>
    <div>
           <label for="longitude">Longitude</label>
    </div>
    <div>
           <input type="number" id="longitude" name="longitude">
    </div>
    <div>
           <button id="satSearchBtn">Search Satellites</button>
    </div>   
    
</form>

{{else}}

<div class="login-link">
    <a href="/login">Please login to track the satellites in your area</a>
</div>


{{/if}}