{{#if loggedIn}}

<form action="#">
    <label>Satellite Name</label>
    <input type="text">
    <label>Latitude</label>
    <input type="text">
    <label>Longitude</label>
    <button>Search Satellites</button>
</form>

{{else}}

<div class="login-link">
    <a href="/login">Please login to track the satellites in your area</a>
</div>


{{/if}}