<section id="searchPage">
{{#if loggedIn}}

<form action="#" class="form" id="satSearchForm">
    <h2>Find a Satellite</h2>
    <div>
           <label for="norad_id">Norad ID</label>
    </div>
    <div>
            <input type="text" id="norad_id">
    </div>
    <div>
           <button id="satSearchBtn">Search</button>
    </div>   
    
</form>


<section class="form" id="satSearchResults">
       <div>
              <p id="locationSearch"></p>
       </div>
       <div>
              <p id="mapCoordinates"></p>
       </div>
       <div>
              <p id="satelliteInfo"></p>
       </div>
       <div>
            <p id="mapImage"></p>
       </div>
</section>
{{else}}

<div class="login-link">
    <a href="/login">Please login to track the satellites in your area</a>
</div>


{{/if}}
</section>
<script src="/scripts/satelliteFetch.js"></script>