<section id="satIdPage">
{{#if loggedIn}}

<div>
    <h2>Satellite Name: {{satInfo.satellite_name}}</h2>

</div>

<div>
    <h2>Country of Origin: {{satInfo.country_name}}</h2>

</div>


{{else}}

<div class="login-link">
    <a href="/login">Please login to track the satellites in your area</a>
</div>

{{/if}}
</section>

<!-- script tag goes here -->