<section id="satIdPage">
{{#if loggedIn}}

<form action="#" class="form" id="satIdInfo">
    <h2>Satellite Information</h2>
    <div>
           <p>Name: {{oneSatellite.satellite_name}}</p>
    </div>
    <div>
            <p>Norad ID: {{oneSatellite.norad_id}}</p>
    </div>
    <div>
           <p>Country of Origin: {{oneSatellite.country.country_name}}</p>
    </div>   
</form>

<section class="form" id="satSearchResults">
    <h2>Current Location</h2>
    <div>
            <p>"Latitude would go here"</p>
    </div>
    <div>
            <p>"Longitude would go here"</p>
    </div>
    <div>
            <p>"Map showing current location would go here"</p>
    </div>
</section>
{{else}}

<div class="login-link">
    <a href="/login">Please login to track the satellites in your area</a>
</div>

{{/if}}
</section>

<!-- script tag goes here -->