:root {
    --opacity: .85;

    --bkgrd-color1: #a9d6e5;
    --bkgrd-color2: #89c2d9;
    --bkgrd-color3: #61a5c2;
    --bkgrd-color4: #468faf;
    --bkgrd-color5:#2c7da0;
    --bkgrd-color6: #2a6f97;
    --bkgrd-color7: #014f86;
    --bkgrd-color8: #01497c;
    --bkgrd-color9: #013a63;
    --bkgrd-color0: #012a4a;

    --gradient-form: linear-gradient(var(--bkgrd-color4), var(--bkgrd-color2), var(--bkgrd-color4));
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#aboutUsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.boxDiv, .homepageDiv {
    margin: 10px;
    font-size: 1.25rem;
    padding: 20px;
    background: var(--gradient-form);
    font-weight: bold;
    border-radius: .5em;
    box-shadow: 10px 20px 20px;
}

.boxDiv {
    width: 450px;
}

.name, .picture, .description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#homepage {
    margin-top: 60px;
}

.homepageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    opacity: var(--opacity);
}

.mapLocation {
    height: 400px;
    width: 400px;
    border-radius: 0%;
}

@media (max-width: 1550px) {

    img {
        height: 150px;
        width: 150px;
    }

    .boxDiv {
        height: 150px;
        display: flex;
    }

}